html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.app {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.main-template {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    -webkit-box-shadow: 9px 6px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 9px 6px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 9px 6px 15px 0px rgba(0,0,0,0.5);
}
button {
    display: block;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    user-select: none;
    cursor: pointer;
    outline: none;
    
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button {
    margin: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;

    &--0 {
        width: 160px;
        grid-column: 1 / 3;
        // border-top: 1px solid #000000;
        // border-right: 1px solid #000000;
        // border-bottom: 1px none #000000;
        // border-left: 1px none #000000;
    }

    &--operator {
        background-color: rgb(245, 255, 109);
    }
    &--equal {
        background-color: rgb(245, 255, 109);
    }
    &--clear {
        background-color: rgb(36, 36, 36);
        color: #fff;

    }

    &:active {
        background-color: rgba(0,0,0,0.2);
    }
}
.output {
    grid-column: 1 / 5;
    border: none;
    color: #fff;
    background-color: black;
    text-align: center;
    font-size: 24px;
    line-height: 2.5em;
}